includes:
    - ./poppy/ext-phpstan/extension.neon
parameters:
	level: 1
	paths:
		- poppy
	tmpDir: ./storage/phpstan

#	ignoreErrors:
#		- '#Unsafe usage of new static#'

	excludePaths:
		- poppy/ext-phpstan
		- poppy/*/configurations
		- poppy/*/resources

	checkMissingIterableValueType: false