<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="storage/bootstrap/autoload.php"
    cacheResultFile="storage/phpunit/.phpunit.cache/test-results"
    executionOrder="depends,defects"
    forceCoversAnnotation="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    convertDeprecationsToExceptions="true"
    failOnRisky="true"
    failOnWarning="true"
    verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>poppy/**/tests</directory>
        </testsuite>
        <testsuite name="poppy">
            <directory>./poppy/**/tests/</directory>
        </testsuite>
        <testsuite name="poppy-core">
            <directory>./poppy/core/tests/</directory>
        </testsuite>
        <testsuite name="config">
            <directory>./poppy/system/tests/Configuration</directory>
        </testsuite>
        <testsuite name="demo">
            <directory>./modules/demo/tests/Support</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory="storage/phpunit/coverage-cache" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">poppy/**/src</directory>
<!--            <directory suffix=".php">modules/**/src</directory>-->
        </include>
        <report>
            <html outputDirectory="storage/phpunit/coverage-html" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
